{% extends "base.html" %}

{% block content %}
<div class="hero">
    <div class="container">
        <h2>Byenveni nan Glory2yahPub</h2>
        <p>FE PIBLISITE W SOU FACEBOOK AK INSTAGRAM A PATI 1000G POU YON SEMEN,kliyan w yo ap konekte avè w  atravè WhatsApp ou</p>
        <a href="{{ url_for('submit_ad') }}" class="btn btn-gold"><i class="fas fa-bullhorn"></i> Klika pou w fè piblisite w</a>
    </div>
</div>

{% if batch %}
<div class="batch-carousel">
    <div class="container">
        <h3>Dènye Gwoup Piblisite</h3>
        <div class="carousel-container">
            <div class="carousel">
                {% for ad in ads %}
                <div class="carousel-slide">
                    <img src="{{ url_for('static', filename='uploads/' + ad.images.split(',')[0]) }}" alt="{{ ad.title }}">
                    <div class="ad-details">
                        <div class="ad-info">
                            <h4>{{ ad.title }}</h4>
                            <p>{{ ad.description }}</p>
                            <p>Pri: {{ ad.price_gkach }} Gkach</p>
                        </div>
                        <a href="{{ url_for('view_batch', batch_id=batch.batch_id) }}" class="btn btn-blue">Wè Gwoup Konplè</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-prev"><</button>
            <button class="carousel-next">></button>
        </div>
    </div>
</div>
{% endif %}

<div class="features">
    <div class="container">
        <div class="feature-grid">
            <div class="feature">
                <h3>Kliyan w yo ap kontakte w pa WhatsApp</h3>
                <p>Rete konekte ak kliyan w fasilite w negosye pi byen</p>
            </div>
            <div class="feature">
                <h3>Piblisite w la ap nan Sistem Gwoup</h3>
                <p>Piblisite ak Kalite se fos tout bon biznis </p>
            </div>
            <div class="feature">
                <h3>Ou ka jwenn Rekonpans si zanmi w Klike link lan</h3>
                <p>Ou ka benefisye pwochen piblisite w la gratis. Kontakte Admin pou w ka benefisye l</p>
            </div>
        </div>
    </div>
</div>




{% endblock %}
