{% extends "base.html" %}

{% block content %}
<div class="hero">
    <div class="container">
        <h2>Byenveni nan Glory2yahPub</h2>
        <p>FE PIBLISITE W SOU FACEBOOK AK INSTAGRAM A PATI 1000G,kliyan w yo ap konekte avè w  atravè WhatsApp ou</p>
        <a href="{{ url_for('submit_ad') }}" class="btn btn-gold">Klike pou w fè piblisite w</a>
    </div>
</div>

<div class="features">
    <div class="container">
        <div class="feature-grid">
            <div class="feature">
                <h3>Kliyan w yo ap kontakte w pa WhatsApp</h3>
                <p>Rete konekte ak kliyan w fasilite w negosye pi byen</p>
            </div>
            <div class="feature">
                <h3>Piblisite w la ap nan Sistem Gwoup</h3>
                <p>Piblisite ak Kalite se fos tout bon biznis </p>
            </div>
            <div class="feature">
                <h3>Ou ka jwenn Rekonpans si zanmi w Klike link lan</h3>
                <p>Ou ka benefisye pwochen piblisite w la gratis. Kontakte Admin pou w ka benefisye l</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
