{# -*- coding: utf-8 -*- #}
{% extends "base.html" %}
{% block title %}Kategori - Mache{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Kategori Pwodwi</h1>
    <div class="row">
        {% for cat in categories %}
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <a href="{{ url_for('marketplace.index', category=cat.id) }}" class="text-decoration-none">
                <div class="card text-center h-100 shadow-sm">
                    <div class="card-body">
                        <div class="display-4 mb-2">{{ cat.icon }}</div>
                        <h5 class="card-title">{{ cat.name }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
